<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css" />
  <title>About</title>
</head>

<body>

  <div class="main">
    {{>header}}

    <p>This is a weather app that generates weather info of a location generate from an address passed. Feel free to
      check it out</p>

    <img class="abt-image" src="/img/robo.png" alt="a robot" />

  </div>


  {{>footer}}
</body>

</html>